#buttons {
    text-align: center;
   
    button {
        height: 100px;
        height: 100px;
        font-size: 30px;
        padding: 12px;
        background-color: #009973;
        transition: all 0.5s;
        letter-spacing: 1px;
        margin: 10px;
        border: 2px solid black;
    }
}
button:hover {
    color: white;
    transform: scale(1.1);
}
.title {
    text-align: center;
    color: red;
}

body {
    background-color: lightgray;
    height: 100vh;
}
#messages {
    text-align: center;
    font-size: 35px;
    padding-top: 80px;
    
}
.game {
    border: 2px solid red;
    margin: auto;
    width: 200px;
    p {
        font-size: 30px;
        color: darkgreen;
        text-align: center;
    }
}